body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    font-size: larger;
    border: 1 solid black;
}
form {
    align-items: center;
    justify-content: center;
    border: 1 solid red ;
}